@font-face {
    font-family: 'Average Sans';
    src: url('../font/AverageSans-Regular.woff2') format('woff2'),
        url('../font/AverageSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Faculty Glyphic';
    src: url('../font/FacultyGlyphic-Regular.woff2') format('woff2'),
        url('../font/FacultyGlyphic-Regular.woff') format('/woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

