*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#0E343D;
    --semi-light-color:#EBDECD;
    --light-color:#FFF9F4;
    --black:#000;
    --white:#fff;
}
body{
    background-color: var(--light-color);
    font-family: "Average Sans", serif;
}

.custom-container{
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}
.text-main{
    color: var(--main-color);
}
.f-36{
    font-size: 36px;
}
.f-22{
    font-size: 22px;
}
.f-14{
    font-size: 14px;
}
.f-18{
    font-size: 18px;
}
.f-40{
    font-size: 40px;
}
.w-60{
    width: 60%;
}
.heading-font{
    font-family: 'Faculty Glyphic';
}
/* .body-font-familly{
    font-family: "Average Sans", serif;
} */
.border-r{
    border-radius:10px;
}
.z-index {
    z-index: 1;
    color: white; 
}
.main-color {
    background-color: var(--main-color);
}
.custom_button{
    position: relative;
    overflow: hidden;
    color: var(--white);
}
.custom_button:hover {
    color: var(--main-color);
}
.custom_button::before,
.custom_button::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--semi-light-color);
    transition: transform 0.3s ease;
    z-index: -1;
}
.custom_button::before {
    transform: translateY(-100%);
}
.custom_button::after {
    transform: translateY(100%);
}
.custom_button:hover::before {
    transform: translateY(-40%);
}
.custom_button:hover::after {
    transform: translateY(40%);
}
.svg-container:hover path {
    fill: var(--main-color); 
}
.semi-light-color{
    background-color: var(--semi-light-color);

}
.light-color{
    background-color: var(--light-color);
}
.text-color{
    color: var(--main-color) !important;
}
.py-60{
    padding-top: 60px;
}
.pb-60{
    padding-bottom: 60px;
}
.border-color{
    border-color: var(--main-color);
}
/* Top bar */
.marquee_container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.2rem 0;
    background-color: var(--main-color);
    color: #fff;
}
.marquee {
    display: inline-block;
    animation: marquee 30s linear infinite;
}
@keyframes marquee {
    from {
      transform: translate3d(0, 0, 0);
    }
    to {
      transform: translate3d(-100%, 0, 0);
    }
}
.custome_marquee {
    display: inline-block;
    margin-right: 50px;
}
/* HEADER */
.custome_header_btn{
    animation: myanimation 10s linear infinite;
}
@keyframes myanimation {
    0%, 50%, 100% {
      background-color: var(--main-color);
      color: var(--white);
    }
    25%, 75% {
      background-color: var(--semi-light-color);
      color:var(--main-color);
    }
}
.logo{
width: 140px;
}
.logo-button{
margin-top: 0;
}
.nav-link {
color: var(--main-color) !important; 
text-decoration: none;
margin-right: 15px;
}
.icon-buttons i {
font-size: 20px;
margin-left: 15px;
cursor: pointer;
}
.img-custome6 {
    content: "";
    left: 48%;
    transform: translate(0%, 0%);
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}


/* FAMOUSE MARKET SECTION  */
.custom-image {
    object-fit: cover;
    content: "";
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translate(94%, -69%);
}
.card-title:hover {
    color: var(--main-color);
}
.img-custome{
    left: -16%;
    top: 22%;
    content: "";
    opacity: 0.1;
}
.img-custome1{
    right: -35%;
    top: 0;
    content: "";
    width: 50%;
    opacity: 0.1;
}
.img-custome2{
    left: -7%;
    content: "";
    top: 70%;
    width: 66%;
    opacity: 0.1;
}
/* categori slider */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
display: block;

}
.swiper-slide {
font-size: 18px;
background: var(--white);
display: flex;
justify-content: center;
align-items: center;
}
.img-custome8 {
    content: "";
    top: -11%;
    left: 70%;
    width: 35%;
    transform: translate(60%, 0);
    opacity: 0.1;
}   
/* Trending Video */
  .swiper-slide iframe {
    display: block;
    width: 100%;
    height: 65vh;
    object-fit: cover;
   
}
.swiper-button-prev{
    left: 0 !important;
}
.swiper-button-next{
    right: 0 !important;
}
.swiper-button-prev, .swiper-button-next {
    background-color: var(--semi-light-color);
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
}
.swiper-button-prev::after, .swiper-button-next::after {
    font-weight: bold;
    color: var(--main-color);
    font-size: 14px !important;
}
/* FAQs */
.img-custome4 {
    content: "";
    top: 8%;
    left: 60%;
    width: 35%;
    transform: translate(60%, -24%);
    opacity: 0.1;
}
.circle-icon {
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border: 2px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

}
.circle-icon i {
    font-size: 10px; 
    color: var(--white);
}
.circle-icon2 {
    width: 10px;
    height: 10px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

}
.circle-icon2 i {
    font-size: 14px; 
    color: var(--main-color);
}
.custom-main-color{
    background-color: var(--main-color);
    color: var(--white);
}
.custom-light-color{
    background-color: var(--light-color) ;
    color: var(--main-color) !important;
}
/* Contact Us */
.contect{
    margin-left: 40%;
}
.img-custome5 {
    content: "";
    top: 20%;
    left: 50%;
    transform: translate(68%, -25%);
    opacity: 0.1;
}

/* Banner slider */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
display: block;
width: 100%;
/* height: 100%; */ 
object-fit: cover;
}
.swiper-slide {
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
}
.custom-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}
.custom-pagination-bullet {
    width: 20px; 
    height: 4px; 
    background-color: #ccc; 
    border-radius: 0; 
    transition: background-color 0.3s ease;
}
.custom-pagination-bullet-active {
    background-color: #0E343D; 
}
/* TRENDING PRODUCT */
.custom_width{
    width: 70px !important;
    height: 70px;
    object-position: top;
}
.custome_p_logo{
    margin: 0 auto;
}
/* Blog */
.custom_card:hover {
    background-color: var(--semi-light-color); 
    transition: border-color 0.3s ease;
}
.img-custome7{
    left: -2%;
    top: 56%;
    content: "";
    opacity: 0.1;
}
.pro-after{
    position: relative;
    
}
.pro-after::after{
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    left: 0;
    background-color:#0e343d66 ;
}
/* Loader Container */
.loader {
position: fixed;
width: 100%;
height: 100vh;
background: var(--white);
display: flex;
justify-content: center;
align-items: center;
z-index: 999;
}
.loader-image {
width: 100px; 
height: 100px;
border-radius: 50%; 
object-fit: cover; 
animation: slowZoom 3s linear infinite; 
}
@keyframes slowZoom {
    0% {
        transform: scale(0) rotate(-360deg);
    }
    50% {
        transform: scale(1)  rotate(360deg); 
    }
    75% {
        transform: scale(0) rotate(-360deg);
    }
    100% {
        transform: scale(1)  rotate(360deg); 
    }
    }   

/* VIDEO PAGE  */

.video-page .video-frame {
    height: 500px;
}
/* .shor_button{
    margin-right: 10%;
} */

/* CONTACT US PAGE  */

.page-banner{
    background-image:url(../img/banner-page.png);

    background-position: center center;
}

.contact-form input ,textarea{
    border: 1px solid var(--main-color);
    border-radius: 10px;
    outline: 0;
}
 .contact-icon{
      width: 100px;
      height: 100px;
      text-align: center;
      line-height: 100px;
      border-radius: 50%;
      position: absolute;
      top: -30%;
      left: 40%;
}
.address-box{
    margin-top: 70px;
}
.a-box{
    padding: 50px;
}
