.required:after {
  content: " *";
  color: red;
}

.errormsg {
  color: #f56b6b; 
}

.b-img {
  transform: skewX(-8deg);
  overflow: hidden;
  width: 60%;
  right: -15rem;
  border-bottom-left-radius: 1rem;
  height: 800px;
}

.b-img .b-img1 {
  transform: skewX(8deg);
  height: 800px;
}

.no-data{
  text-align: center;
  margin: 0 auto;
  width: 50%;
}
.no-data img{
  width:50%;
}

.profile-image{
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.card-space {
  margin-top: -35px;
}

@media (max-width:768px) {
  .card-space {
    margin-top: -42px;
  }
  .no-data,.no-data img {
    width: 100%;
  }
}

@media (min-width:600px) and (max-width:768px) {
  .space1 {
    margin-bottom: -65px;
  }
}

@media (max-width:600px) {
  .space1 {
    margin-bottom: -55px;
  }
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  height: 100%;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 20px;
  width: 40%;
  margin-bottom: 20px;
  margin-left: 80px;
  transition: all 0.2s;
}

@media (min-width: 992px) {
  .dropdown .dropdown-toggle.active:after {
    content: "\f106";
  }

  .dropdown .dropdown-toggle.active:after {
    content: "\f106";
  }

  .pricing .card:hover {
    background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%);
    opacity: 0.6;
    color: white;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
  }

}

@media (max-width:992px) {
  .plan-card {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width:1200px) {
  .plan-card {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.sidenav1 {
  height: 100%;
  width: 80%;
  z-index: 1;
  top: -60px;
  left: 58px;
  overflow-x: hidden;
  padding-top: 20px;
  margin-bottom: -50px;
}

.sidenav1 a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.main {
  margin-left: 0px;
  font-size: 14px;
  padding: 0px 10px;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
  width: 90%;
}

.custom1:hover {
  font-weight: bold;
  color: rgb(76, 71, 71);
  background-color: #eceaea;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.dropdown-btn {
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}


.navigation ul li.active a,
.navigation ul li:hover a {
  background-color: #eceaea;

}

@media screen and (max-height: 450px) {
  .sidenav1 {
    padding-top: 15px;
  }

  .sidenav1 a {
    font-size: 18px;
  }
}

.drop-zone {
  position: relative;
  height: 200px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  position: relative;
  display: flex;
  flex-wrap: wrap !important;
  justify-content: center;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

#imagePreview {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.img-preview {
  width: 100px;
  height: 100px;
  border: 1px solid #ddd;
  object-fit: cover;
}

.form {
  width: 500px;
  margin: 5% auto;
}

.form__container {
  position: relative;
  width: 100%;
  height: 200px;
  border: 2px dashed silver;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: silver;
  margin-bottom: 5px;
}

.form__container.active {
  background-color: rgba(192, 192, 192, 0.2);
}

.form__file {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

.form__files-container {
  display: block;
  width: 100%;
  font-size: 0;
  margin-top: 20px;
}

.form__image-container {
  display: inline-block;
  width: 49%;
  height: 200px;
  margin-bottom: 10px;
  position: relative;
}

.form__image-container:not(:nth-child(2n)) {
  margin-right: 2%;
}

.form__image-container:after {
  content: "✕";
  position: absolute;
  line-height: 200px;
  font-size: 30px;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.form__image-container:hover:after {
  opacity: 1;
  cursor: pointer;
}

.form__image {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.main-editor {
  width: 100%;
  margin: 0px;
}

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 50px;
}

.accordion h1 {
  font-size: 32px;
  text-align: center;
}

.accordion-item {
  margin-top: 16px;
  border: 1px solid #fcfcfc;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px;
}

.accordion-item .accordion-item-title {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 14px 20px;
  box-sizing: border-box;
  align-items: center;
}

.accordion-item .accordion-item-desc {
  display: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #444;
  border-top: 1px dashed #ddd;
  padding: 10px 20px 20px;
  box-sizing: border-box;
}

.accordion-item input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.accordion-item input[type="checkbox"]:checked~.accordion-item-desc {
  display: block;
}

.accordion-item input[type="checkbox"]:checked~.accordion-item-title .icon:after {
  content: "-";
  font-size: 20px;
}

.accordion-item input[type="checkbox"]~.accordion-item-title .icon:after {
  content: "+";
  font-size: 20px;
}

.accordion-item:first-child {
  margin-top: 0;
}

.accordion-item .icon {
  margin-left: 14px;
  margin-top: -20px;
}

@media screen and (max-width: 767px) {
  .accordion {
    padding: 0 16px;
  }

  .accordion h1 {
    font-size: 22px;
  }
}

.close-button {
  position: absolute;
  left: 82%;
  top: 16px;
 
  z-index: 1;
  text-align: center;
  border: none;
  background-color: #c00b44;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 50%;
  padding-inline: 6px;
}
.close-buttons_profile,
.close-button_product{
  position: absolute;
  left: 100%; 
  top: 0px;
  z-index: 1;
  text-align: center;
  border: none;
  background-color: #c00b44;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  border-radius: 50%;
}
.close-button:hover {
  background-color: #7e0129;
}
.picture__img {
  width: 100%;
  max-height: 173px;
 padding: 20px !important;
}


.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
  margin-top: 0;
  height: 42px !important;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: block;
  padding: 0 12px;
  line-height: 29px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #f8f8f8;
  margin: 4px 4px 0 0;
  padding: 0 6px 0 22px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  position: relative;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  margin: 0;
  text-align: center;
  color: #e74c3c;
  font-weight: bold;
  font-size: 16px;
}

@media (min-width: 450px) and (max-width: 768px) {
  .facebook {
    width: 150px;
    height: 20px;
  }

  .google {
    width: 150px;
    height: 20px;
  }
}

@media (min-width:576px) and (max-width: 620px) {
  .search-btn {
    margin-right: 5px;
  }

  .online-btn {
    margin-left: 5px;
  }
}

@media (max-width:530px) {
  .online-btn {
    width: 150px;
    margin-left: 10px;
  }
}
/* 
@media (max-width:520px) {
  .search-icon {
    display: none;
  }
} */

@media (min-width:520px) {
  .search-icon1 {
    /* display: none; */
  }
}


@media (max-width:410px) {
  .price1 {
    display: none;
  }
}

@media (max-width:768px) {
  .profile-sec {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile-section {
    margin-top: -30px;
  }
}

.btn-enable:hover {
  background-image: linear-gradient(310deg, #2152ff 0%, #21d4fd 100%);
  color: white;
}

@media (max-width:1200px) {
  .para-main {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width:1200px) {
  .main-sec {
    margin: 10px 0px;
  }
}

.invoicename{
  margin-right: none !important;
}
.product-main{
  margin: auto  ;
}

.invoice_imgorder {
  order: 1;
}
.invoice_order {
  order: 2;
}
.invoice-inputbox{
  max-width: 200px;
  text-align: end !important ;
}

@media(max-width:700px){
 
  .main_invoicechange{
    flex-direction: column;
  }
  .orderchange{
    order: 2;
  }
  .invoice-inputbox{
    max-width: none !important;
    width: 100% !important;
    text-align: start !important;
    margin-bottom: 30px;
  }

.invoice_order {
    order: 1 !important; 
}


}
.invoic_twocol {
  display: flex;
  flex-wrap: wrap; 
}

.invoic_twocol {
  display: flex;
  flex-wrap: wrap;
}

.bill-to {
  margin: 10px;
}

.bill-to:hover {
  border: 1px solid rgb(238, 219, 219);
  border-radius: 10px;
  padding: 10px;
}

.ship-to {
  margin: 10px;
}

.ship-to:hover {
  border: 1px solid rgb(238, 219, 219);
  border-radius: 10px;
  padding: 10px;
}

@media (max-width:700px) {
  

  ::-webkit-scrollbar {
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
}

@media (max-width:331px) {
  .invoice-title1 {
    display: none;
  }
}

@media (min-width:331px) {
  .invoice-title {
    display: none;
  }
}


  .table-scroll {
    width: 100%;
    overflow-x: scroll;
  }
#qty_selector {
  width: 100%;
}

#qty_display {
  border-width: 0px;
  border-color: white;
  background-color: transparent;
  width: 35%;
  margin: 0px 10px;
  padding-left: 5px;
}

#qty_select {
  border: solid rgb(232, 201, 201);
  border-width: 1px 1px;
  border-radius: 10px;
}

.decrement-btn {
  padding: 7px;
}

.increment-btn {
  padding: 7px;
}

@media (max-width:475px) {
  .quantity1 {
    display: none;
  }
}

@media (min-width:476px) {
  .quantity2 {
    display: none;
  }
}

.navbar-vertical .navbar-nav .nav-link.active{
  color: #344767;
  background-color: #fff;
}

.pagination {
  justify-content: center !important;
}
.pagination a{
  padding: 1px 9px !important;
  border: 1px solid black; 
  margin: 10px; 
  border-radius: 14px;
}

#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;  
  height: 40px; 
  margin: -15px 0 0 -15px;  
}

#status {
  position: fixed;
  z-index: 999999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background: #fff;
  background-image: url(../img/loder/preloder3.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size:  100px;  
}

.pro-zone {
  position: relative;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  color: #cccccc;
}

.pro-zone--over {
  border-style: solid;
}

.pro-zone__input {
  display: none;
}

.pro-zone__thumb {
  position: relative;
  display: flex;
}

.pro__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}
.pagination a{
  padding: 1px 9px !important;
  border: 1px solid black; 
    margin: 10px; 
    border-radius: 14px
}

.price-line-through{
  text-decoration-color: red !important;
  text-decoration-thickness: 2px !important;
}

.hidecategory{
  display: none;
}
.invoice-rowclose{
  text-align: center;
}
.invoice-rowclose .fa-times{
  font-size: 24px;
}
.card_body_form{
  height: 610px;
  overflow-y: scroll;
}
.checkboxcategory{
  cursor: pointer !important;
}

#getdata .card{
  padding:10px;
  box-shadow: 5px 5px 20px 9px rgba(0, 0, 0, .05);
}
.custom-position{
  left:0%;
}
.product_imagebox{
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
}
.product_main_image{
  width: 300px; 
  height: 300px;
   object-fit: cover;
}
.modal_img{
  width: 130px;
   height: 150px;
    margin: 5px; 
    object-fit:cover;
}
.pro_delete_btn:hover{
  background-color: #cdcaca;
}
.no_proimg{
  width: 300px; 
  height: 300px;
  object-fit: cover;
}
.modalgif{
  margin: auto; 
  width: 100px;
}
.modalgif_img{
  height: 150px;
   width: 150px;
    text-align:center;
}
.customer_box{
  width: 300px;
   height: 300px;
    border: 1px solid #ddd;
     padding: 15px;
}
.customer_img{
  border: 1px solid #030303;
   padding: 8px; 
   height: 114px;
   width: 114px; 
   border-radius: 50%;
    object-fit: cover;
}
.blog_imagebox{
  text-align: center; 
  margin: auto;
}
.blog_image_mainbox{
  height:200px;
   width:200px;
    object-fit:cover;
}
.offer_imgbox{
  text-align: center;
   margin: auto;
}
.productallbtn{
  text-align: center !important;
  margin: auto !important;
  display: flex !important;
  margin-top: 10px !important;
}
#newpreview,#shop_logo_preview {
  width: 100%; 
  max-height: 250px;
  display: none; 
  margin-bottom: 15px;
  border-radius: .5rem; 
  border: 1px solid #d2d6da;
  padding: 5px; 
  background-color: #f9f9f9; 
  object-fit: cover; 
}
.close{
  position: absolute;
    left: 90%;
    top: -9px;
    z-index: 1;
    text-align: center;
    border: none;
    background-color: #c00b44;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    border-radius: 50%;
}
.delete_shadow{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

   color: #6c757d;
   font-size: 15px;
}
.delete_btn{
  padding: .375rem .75rem;
}
.edit_btn{
  padding: .33rem .75rem;
}
.main-product-img{
  width: 280px;
  height: 280px;
}
.img-wrapper{
  position: relative;
}


.tooltip-container {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip-icon {
  margin-left: 10px;
  color: black;
  cursor: pointer;
  position: relative;
  background-color: #f0f0f0; 
  height: 20px; 
  width: 20px; 
  border-radius: 50%;
  display: flex; 
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 3px;
  right: 3%;
}

.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 0%;
  right: 0%; 
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent #000 transparent transparent;
}

.tooltip-icon:hover + .tooltiptext {
  visibility: visible;
  opacity: 1;

}

/* two  */

.tooltiptext_img {
  visibility: hidden;
  width: auto;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 100;
  top: 190%;
  right: 8%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext_img::after {
  content: '';
  position: absolute;
  top: -27%;
  right: 7%;
  transform: rotate(90deg);
  border-width: 9px;
  border-style: solid;
  border-color: transparent #000 transparent transparent;
}

.tooltip-icon:hover + .tooltiptext_img {
  visibility: visible;
  opacity: 1;

}
.error label {
  color: #cc0033;
}

.error input[type="number"],
.error input[type="text"] {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}
.profilepen_icon{
  border: 1px solid;
  border-radius: 50%;
  background: #fff;
  padding: 8px;
}
.bg-gradient{
  background: #21d4fd ;
}
.number::-webkit-inner-spin-button, 
.number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.user_img{
  width: 50px; height: 50px;
}
.alert {
	padding:12px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	font-weight: 300;
	letter-spacing: 1px;
  position: relative;

}

.alert:hover {
  cursor: pointer;
}

.alert-info {
  background-image: linear-gradient(310deg, #6683ee 0%, #21d4fd 100%);
  color: white;
  margin: 10px !important; 
}
.alert-info:before {
  content: '\f05a';
  font-family: 'FontAwesome';
  padding: 10px;
}

.popup-close-button {
  position: absolute; 
  top: 50%; 
  right: 10px;
  transform: translateY(-50%); 
  color: white;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.popup-close-button:hover,
.popup-close-button:focus {
  color: white !important;
  text-decoration: none;
  cursor: pointer;
}
.form-switch .form-check-input:checked {
  border:none !important;
  background-color: #7798fc !important;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 42px !important;
  user-select: none;
  -webkit-user-select: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 39px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none !important;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
 
  border: none !important;
  background: none !important;
  line-height: 2 !important;
}